.header__logo {
  max-width: 270px;
  height: 70px;
  padding: 34px 0 0 0;
  margin: 0 auto;
}
/* fixed the width of logo from 320 to 768 viewport */
@media screen and (max-width: 767px) {
  .header__logo {
    max-width: 200px;
  }
}
