.button_location_place {
  width: 248px;
}
/* moved height property to the block style */
/* fixed width for all viewports */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .button_location_place {
    width: 288px;
    margin: 0 16px;
  }
}

@media screen and (max-width: 319px) {
  .button_location_place {
    width: calc(100vw - 20px);
    margin: 0 10px;
  }
}
