.place__description {
  grid-area: text;
}
.place__description:last-child {
  padding-bottom: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place__description {
    padding: 0 16px;
  }
}
@media screen and (max-width: 319px) {
  .place__description {
    padding: 0 10px;
  }
}
